<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.teamo.mall.dao.ItemsCommentsMapper" >
  <resultMap id="BaseResultMap" type="site.teamo.mall.bean.ItemsComments" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_spec_id" property="itemSpecId" jdbcType="VARCHAR" />
    <result column="sepc_name" property="sepcName" jdbcType="VARCHAR" />
    <result column="comment_level" property="commentLevel" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="commentCount" type="site.teamo.mall.bean.vo.CommentCountsVO" >
    <result column="count" property="count" jdbcType="VARCHAR" />
    <result column="comment_level" property="commentLevel" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="itemComments" type="site.teamo.mall.bean.vo.ItemCommentVO" >
    <result column="comment_level" property="commentLevel"/>
    <result column="content" property="content"/>
    <result column="sepc_name" property="sepcName"/>
    <result column="created_time" property="createdTime"/>
    <result column="user_face" property="userFace"/>
    <result column="nickname" property="nickname"/>
  </resultMap>

  <select id="queryCommentCount" parameterType="java.lang.String" resultMap="commentCount">
    select
        count(*) as count,comment_level
    from
        items_comments
    where
        item_id=#{itemId}
    group by
        comment_level
  </select>

  <select id="queryItemComments" parameterType="java.util.Map" resultMap="itemComments">
    select
        ic.comment_level as comment_level,
        ic.content as content,
        ic.sepc_name as sepc_name,
        ic.created_time as created_time,
        u.face as user_face,
        u.nickname as nickname
    from
        items_comments ic
    left join
        users u
    on u.id=ic.user_id
    where
        ic.item_id=#{para.itemId}
    <if test=" para.commentLevel != null and para.commentLevel != '' ">
        and ic.comment_level = #{para.commentLevel}
    </if>
  </select>

    <insert id="saveComment" parameterType="java.util.Map">
        insert into items_comments(id, user_id, item_id, item_name, item_spec_id, sepc_name, comment_level, content,created_time, updated_time)
        values
        <foreach collection="para.commentList" item="comment" index="index" separator=",">
            (
            #{comment.commentId},
            #{para.userId},
            #{comment.itemId},
            #{comment.itemName},
            #{comment.itemSpecId},
            #{comment.itemSpecName},
            #{comment.commentLevel},
            #{comment.content},
            now(),
            now()
            )
        </foreach>
    </insert>

    <select id="queryMyComment" parameterType="java.lang.String" resultType="site.teamo.mall.bean.vo.MyCommentVO">
        select ic.id           as commentId,
               ic.content      as content,
               ic.created_time as createdTime,
               ic.item_id      as itemId,
               ic.sepc_name    as specName,
               ic.item_name    as itemName,
               ii.url          as itemImg
        from items_comments ic
                 left join items_img ii on ic.item_id = ii.item_id
        where user_id = #{userId}
          and ii.is_main = 1
        order by ic.created_time desc
    </select>


</mapper>